.colora{
    color: #457FA7;
    text-decoration: none;
    background-color: transparent;
}

.colora_res{
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

.colora:hover {
    color: black;
    background-color: transparent;
  }

.tataDeTodos{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}